* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.parent{
    display: flex;
    justify-content: center;
    /* align-items: center; */

}
.container{
    /* height: 90vh; */
    width: 150vh;
    /* background-color: blue; */
}
.top{
    height: 60px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 100px; */
}
.top button{
    color: white;
    height: 36px;
    width: 70px;
    border-radius: 5px;
    background-color:rgb(81, 81, 190);
    border:0;
}
.main{
    color: white;
    background-image:url("https://images.unsplash.com/photo-1507166763745-bfe008fbb831?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") ;
    height: 60vh;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.email{
    gap: 0;
    /* width: 300px; */
}
.email input{
    padding-left: 10px;
    height: 30px;
    border-radius: 3px;
    border:0;
}
.email button{
    color: white;
    height: 30px;
    width: 60px;
    border-radius: 3px;
    border: 0;
    background-color: rgb(89, 89, 195);
    /* left: 0; */
}
.bottom{
    /* gap: 50px; */
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-direction: column; */
}
.bottomicon1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bottomicon2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bottomicon3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fa-wallet{
    color:rgb(89, 89, 195);
    font-size: 3rem;
}
.fa-box-open{
    color:rgb(89, 89, 195);
    font-size: 3rem;
}
.fa-file-arrow-down{
    color: rgb(89, 89, 195);
    font-size: 3rem;
}